{
  "plugins": ["@babel/plugin-syntax-object-rest-spread"],
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": true
        },
        "loose": true
      }
    ]
  ],
  "env": {
    "test": {
      "plugins": [
        [
          "istanbul",
          {
            "useInlineSourceMaps": false
          }
        ]
      ]
    }
  }
}
