{
    "env": {
        "es6": true,
        "node": true
    },
    "parser": "babel-eslint",
    "extends": [
        "plugin:@coorpacademy/coorpacademy/core",
        "plugin:@coorpacademy/coorpacademy/ava",
        "plugin:@coorpacademy/coorpacademy/lodash-fp",
        "plugin:@coorpacademy/coorpacademy/es20XX"
    ],
    "plugins": [
        "@coorpacademy/coorpacademy"
    ]
}