{
    "env": {
        "es6": true,
        "node": true
    },
    "parser": "babel-eslint",
    "extends": [
        "coorpacademy/core",
        "coorpacademy/ava",
        "coorpacademy/es20XX"
    ]
}
